* {
    margin: 0%;
}

.module1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

.day1 {
    background: red;
    color: black;
}

.day2 {
    background: yellow;
    color: black;
}

.day3 {
    background: white;
    color: green;
}

.day4 {
    background: orangered;
    color: black;
}

.day5 {
    background: lightskyblue;
    color: black;
}

.day6 {
    background: chartreuse;
    color: red;
}

.day7 {
    background: darkcyan;
    color: white;
}

.day8 {
    background: darkorchid;
    color: white;
}

.day9 {
    background: fuchsia;
    color: black;
}

.day10 {
    background: navy;
    color: white;
}

.Final {
    background: lightgreen;
    color: black;
}

.module2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    float: left;
}

.module3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    float: left;
}

.java-script {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    float: left;
}