* {
    margin: 0%;
}

.module1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin: left 200px;
    border: 1px solid red;
}

.day1 {
    background: red;
    color: white;
}

.day2 {
    background: yellow;
    color: black;
}

.day3 {
    background: white;
    color: green;
}

.day4 {
    background: orangered;
    color: black;
}

.day5 {
    background: lightskyblue;
    color: black;
}

.day6 {
    background: yellow;
    color: black;
}

.final {
    background: lightgreen;
    color: black;
}

.module2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    border: 1px solid red;
    float: left;
}