* {
    margin: 0;
}

.page-wrapper {
    border: 1px solid black;
    height: 95vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

.main-div {
    border: 1px solid black;
    height: 40vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
}

.mybox {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}

.box {
    height: 10vh;
    width: 80%;
    margin-left: 10%;
    background: greenyellow;
}