* {
    margin: 0;
    padding: 0;
}

body {
    background: green;
}

.page-wrapper {
    width: 50%;
    background: rgba(0, 0, 0, 0.521);
    color: white;
    margin: auto;
}

.form-container {
    padding-top: 2%;
}

.form-control {
    width: 99%;
}

button {
    background: red;
}

textarea {
    height: 10vh;
}