* {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 80vh;
    width: 80%;
    background: green;
    margin: auto;
    margin-top: 5%;
    border: 1px solid black;
}

.center {
    height: 30vh;
    width: 75%;
    background: grey;
    padding-top: 50px;
    margin: auto;
    margin-top: 4%;
    border: 1px solid grey;
}

ul li {
    display: inline-block;
}

li {
    width: 24%;
    height: 20vh;
    background: lightgreen;
    padding-left: 5px;
}