* {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 80vh;
    width: 80%;
    background: lightgreen;
    margin: auto;
    margin-top: 5%;
    border: 1px solid black;
}

.center {
    height: 30vh;
    width: 75%;
    background: lightgrey;
    padding-top: 50px;
    margin: auto;
    margin-top: 12%;
    border: 1px solid grey;
}

ul li {
    display: inline-block;
}

li {
    width: 18%;
    height: 20vh;
    background: lightseagreen;
    margin-left: 5.5%;
}